.fancy-select-btn {
    @apply w-full flex items-center justify-between px-3 py-2 text-sm rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-300 bg-white;
    transition: all 0.2s ease-in-out;
    &:hover {
        @apply bg-gray-50 shadow-sm;
    }
    //&:focus {
    //@apply ring-2 ring-indigo-300;
    //}
}