<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
    <div>
        <label class="block text-sm font-medium">Nom du lieu</label>
        <input type="text" formControlName="name" class="w-full px-3 py-2 mt-1 border rounded" placeholder="Ex: ICOF Lyon" />
    </div>

    <div>
        <label class="block text-sm font-medium">Catégories (séparées par des virgules)</label>
        <input type="text" formControlName="categories" class="w-full px-3 py-2 mt-1 border rounded" placeholder="Ex: travail, famille, école" />
    </div>

    <button type="submit" class="self-end px-4 py-2 text-white transition rounded bg-emerald-600 hover:bg-emerald-700">
    Ajouter 📍
  </button>
</form>