<form (ngSubmit)="submit()" class="form">
    <label class="block">
    Source *
    <app-fancy-select
      [(model)]="sourceId"
      [options]="sourceOptions()"
      placeholder="Sélectionner une personne"
    >
    </app-fancy-select>
  </label>


    <label>
    Cible *
    <app-fancy-select
      [(model)]="targetId"
      [options]="targetOptions()"
      placeholder="Sélectionner la cible..."
    >
    </app-fancy-select>

  </label>

    <label>
    Type de relation *
    <input [(ngModel)]="type" name="type" required />
  </label>

    <label>
    Contexte
    <input [(ngModel)]="context" name="context" />
  </label>

    <button type="submit" [disabled]="loading() || !sourceId() || !targetId() || !type()">
    {{ loading() ? "Ajout en cours..." : "➕ Ajouter la relation" }}
  </button>
</form>