<div class="grid w-full max-w-7xl grid-cols-1 gap-6 mx-auto lg:grid-cols-[360px_1fr]">
    <!-- 🧍‍♂️ Colonne gauche -->
    <div class="flex flex-col gap-6">
        <app-user-card *ngIf="user(); else userSkeleton" />
        <ng-template #userSkeleton>
            <div class="shadow-xl animate-pulse rounded-2xl glass-panel h-52"></div>
        </ng-template>

        <app-stats-card *ngIf="stats(); else statsSkeleton" [stats]="stats()!" />
        <ng-template #statsSkeleton>
            <div class="h-40 shadow-xl animate-pulse rounded-2xl glass-panel"></div>
        </ng-template>

        <!-- ✅ Nouvelle carte -->
        <app-add-data-card />
    </div>

    <!-- 📊 Colonne droite -->
    <div class="flex flex-col gap-6">
        <app-life-graph-card />
    </div>
</div>